body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 500px;
  height: auto;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0.001px 7px 29px 0.001px;
}

li,
form {
  background-color: #fff;
  width: calc(100% - 26px);
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 0 13px;
  gap: 5px;
}

form {
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

li.hello p {
  opacity: 0.7;
}

li button {
  height: 20%;
  background: none;
  border: none;
}

li img,
li form button img,
li.hello img {
  height: 10px;
  margin-left: auto;
  opacity: 0.4;
}

input#enter-task {
  width: 90%;
  height: 35px;
  border: none;
  padding-left: 3px;
}

input::placeholder {
  font-style: italic;
}

input#task {
  outline: 2px solid #808080a8;
  outline-style: auto;
}

li.hello input.task-text {
  width: 85%;
  height: 35px;
  border: none;
  padding-left: 3px;
  font-size: 18px;
}

.clear {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
}

li.clear a {
  text-decoration: none;
  color: #808080c7;
  font-weight: 100;
}

li.clear a:hover {
  color: #000;
  text-decoration: underline;
}

.checked-task {
  text-decoration: line-through;
  color: #808080a8;
}

.dragging {
  border: 1px solid #000;
}
